<form action="/for" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" placeholder="Name" required="true" name="name"  />
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
